.UP_cards{
    text-align: center;
    h1{
        padding: 3rem 0px;
    }
    .card{
        padding: 4rem 0rem;
        width: 90%;
        margin: auto;
        .imgDogs{
            padding: 10px;
            border-radius: 12px;
            width: 200px;
            height: auto;
            &:hover{
                transform: scale(1.4);
            }     
        }
    }
    .btn{
        margin: 4rem 0rem;
    }
}
.service{
    h3{margin: 1rem 0rem;}
    display: block;
    align-items: center;
}
.Total_price{
    h4{
        text-transform: uppercase;
    }
    text-align: left;
    margin-top: 30px;
}